@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 10rem;
    margin: 1.5rem 5%;
    padding: 1.5rem 5%;
}

.masthead {
    background-image:url(../images/japanese-paper.jpg);
    background-repeat:no-repeat;
    background-color:black;
    background-position:center;
    clear:both;
    overflow:hidden;
    margin: 0 0 1rem;
    border-bottom: solid .35rem pink;
}
.global-logo {
    background-image: url(../images/aegle-word%20-logo.svg);
    display: block;
    background-size: auto;
    width: 10rem;
    overflow: hidden;
    background-repeat: no-repeat;
    position: absolute;
    left: 35%;
    top: 8%;
    padding: 1rem 5%;
    margin: 0;
}
    
.logo {
    background-image: url(../images/logo.svg);
    background-size: auto;
    display: block;
    float:left;
    position: absolute;
    top: 7%;
}

.billboard {
    overflow: hidden;
    background-color: black;
    background-image: url(../images/spring-fashion-girl.jpg);
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: center top;
}

.name {
    font-size: 2rem;
    text-align: center;
    position: asbolute;
    padding: 0;
    margin: 0;
    font-weight: 00;
    right: 40%;    
}

h1 {
    margin: 6rem 3%;
    font-weight: normal;
    font-size: 2rem;
    text-align:center;
    text-transform: uppercase;
    background-color: rgba(235, 136, 136, .85);
    padding: .25rem 0 0;   
}

article {
    margin: 0;
    padding: 1.5rem 5%;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ff9999;
}

.thumbnail {
    font-size: 3rem;
    display: inline;
}

.thumbnail ul {
    margin: 0;
    padding: 0;
    text-align: center; 
}

.thumbnail li {
    margin: 0;
    padding: 0;
    display: inline; 
}

.thumbnail a,
.thumbnail a:link,
.thumbnail a:visited {
    background-image: url(../images/square.svg);
    background-repeat: no-repeat;
    background-size: 7rem;
    display: inline-block;
    padding: 1rem 5%;
    margin: 0;
    font-size: 3rem;
    text-decoration: none;
    color: white;
}

.thumbnail sup {
    font-size: .95rem;
}

p {
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
}

footer {
    margin: 0;
    padding: 1.5rem 2%;
    background-image:url(../images/japanese-paper.jpg);
    background-repeat: no-repeat;
    background-size:25rem;
}

.follow {
    display: inline;
}

.follow ul {
    margin: 0;
    padding: 0;
    text-align: center;   
}

.follow li {
     margin: 0;
    padding: 0;
    display: inline;
}

.copyright {
    font-size: .75rem;
    color: #ff9999;
}